<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose Option</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Document Classifier</h1>
      <p style="margin-bottom: 10px">
        How would you like to classify your document?
      </p>
      <form method="POST">
        <button type="submit" name="option" value="text">Enter Text</button>
        <button type="submit" name="option" value="file">Upload File</button>
      </form>
    </div>
  </body>
</html>
